/* This folder contains files that define the basic styles. */
/* Variables defining your color palette */
/*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/* Styles that reset or normalize the default styles of HTML elements */
/*Styles that reset or normalize the default styles of HTML elements*/
/* Styles for headings, paragraphs, and other text elements */
/*Styles for headings, paragraphs, and other text elements */
/* This folder contains files that define styles for individual components. */
/* Styles for different types of buttons */
/*Styles for headings, paragraphs, and other text elements */ /*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/*Mixins or functions to help with common styling tasks */ /* Styles for different types of buttons */
.button {
  color: white;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 25px;
  margin: 15px 5px 40px 5px;
}

.button-utils {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border: none;
}

/* Styles for card-like elements */
/*Styles for headings, paragraphs, and other text elements */ /*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/*Mixins or functions to help with common styling tasks */ /*Styles for card-like elements */
.card, .container-content-card {
  background-color: white;
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  max-width: 400px;
}
.card-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 100px;
  border-radius: 5px;
}

/* This folder contains files that define the overall layout and structure. */
/* Styles for your grid system */
/*Styles for your grid system */
/* Styles for your site or app's footer */
/*Styles for your site or app's footer */
/* Styles for your site or app's header */
/*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/*Mixins or functions to help with common styling tasks */ /*Styles for your site or app's header */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  z-index: 1;
}
header.home .fa-arrow-left {
  display: none;
}
header:not(.home) .fa-arrow-left {
  display: block;
  margin: 10px;
}

.headerlogo {
  padding-left: 30px;
  padding-right: 90px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* This folder contains files that define styles that are specific to individual pages. */
/* Styles for your site or app's home page */
/*Mixins or functions to help with common styling tasks */ /*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/*Styles for headings, paragraphs, and other text elements */ /*Styles for your site or app's home page */
.loctation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: #eaeaea;
  z-index: 0;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-container-heading, .center-container-description {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 30px;
}
.container-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.container-content-list {
  color: white;
  margin-right: -25px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 1;
}
.container-content-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px;
}
.container-content-card:hover {
  background-color: #f5edff;
}
.container-content-card:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 20px;
}

/* Styles for your site or app's menu page la franc */
/* */
/* Styles for your site or app's menu page la note */
/* */
/* Styles for your site or app's menu page la palette */
/* */
/* Styles for your site or app's menu page la de */
/* */
/* This folder contains files that define utility classes or functions that can be reused throughout. */
/* Mixins or functions to help with common styling tasks */
/*Mixins or functions to help with common styling tasks */
/* Media queries and styles for different screen sizes */
/*Media queries and styles for different screen sizes */
/* Variables used throughout your project, such as spacing or border-radius */
/*Styles for headings, paragraphs, and other text elements */ /*Variables defining your color palette*/
/*Primary */
/*Secondary */
/*Tertiary*/
.bg-grey {
  background-color: #f6f6f6;
}

/*Variables used throughout your project, such as spacing or border-radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

p, ul, ol, li, a {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  margin: 5px;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: black;
}

.text-small {
  font-size: 16px;
}

.text-med {
  font-size: 20px;
}

.text-big {
  font-size: 24px;
}

.text-bold {
  font-weight: 800;
}

.text-light {
  font-weight: 300;
}

.icon-small {
  font-size: 16px;
}

.icon-med {
  font-size: 20px;
}

.icon-big {
  font-size: 24px;
}

.icon-card {
  padding: 0 15px;
}

.icon--color-grey {
  color: #353535;
}

/* This folder contains files for any third-party libraries or vendor styles that you may be using. */
/* Styles for Font Awesome icons */
/*Styles for Font Awesome icons */
.fa-mobile-screen-button {
  padding: 0 18px;
}/*# sourceMappingURL=main.css.map */