/*Variables used throughout your project, such as spacing or border-radius */
@use '../base/_typo.scss' as t;
@use "../base/_colors.scss" as c;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  
}

p, ul, ol, li, a {
  font-family: t.$text;
  padding: 5px 10px;
  margin: 5px;
}

h1{
  font-family: t.$titles;
}

h2, h3, h4, h5, h6 {
  font-family: t.$text;
  padding: 5px 10px;
}

a {
    text-decoration: none;
    color: c.$black;
}

.text-small {
    font-size: t.$text-small;
}
.text-med {
    font-size: t.$text-med ;
}
.text-big {
    font-size: t.$text-big;
}

.text-bold {
    font-weight: t.$textbold;
}
.text-light {
    font-weight: t.$textlight;
}

.icon-small {
    font-size: t.$icon-small;
}
.icon-med {
    font-size: t.$icon-med;
}
.icon-big {
    font-size: t.$icon-big;
}

.icon-card {
    padding: 0 15px;
}

.icon--color-grey {
    color: c.$darkgrey;
}