/*Styles for your site or app's home page */
@use "../utils/_helpers.scss" as h;
@use "../base/_colors.scss" as c;
@use "../base/_typo.scss" as t;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: c.$gradient;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s 2s forwards;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid c.$white;
  border-top: 5px solid c.$teal;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.content {
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.loctation {
  @include h.flex(row, center, baseline);
  padding: 10px 0;
  background-color: c.$geogrey;
  z-index: 0;
}

.container {
  @include h.flex(column, center, center);
  &-heading,
  &-description {
    text-align: center;
  }

  &-content {
    @include h.flex(row, flex-start, center);
    width: 100%;
    &-list {
      color: $white;
      margin-right: -25px;
      background-color: $purple;
      padding: 5px 10px;
      border-radius: 20px;
      z-index: 1;
    }
    &-heading,
    &-description {
      text-align: center;
    }
    &-card {
      @include h.flex(row, flex-start, center);
      @extend .card;
      padding: 15px 15px;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;

      &:hover {
        background-color: c.$lightpink;

        i {
          color: c.$purple;
        }
      }
    }
  }
}
.how-it-works {
  background-color: c.$white;
  .container {
    margin: 10px;
    padding: 10px;
  }
}
