/*Variables defining your color palette*/
/*Primary */
$purple: #9356DC;
/*Secondary */
$pink: #FF79DA;
/*Tertiary*/
$teal: #99E2D0;

$lightpink: #f5edff;
$white: white;
$black: black;
$grey: #f6f6f6;
$geogrey: #eaeaea;
$darkgrey: #353535;

$gradient:linear-gradient(to bottom, $pink, $purple);

.bg-grey {
    background-color: $grey;
}

