/*Styles for headings, paragraphs, and other text elements */

$titles: 'Shrikhand', cursive;
$text: 'Roboto', sans-serif;

$icon-small: 16px;
$icon-med: 20px;
$icon-big: 24px;

$textbold: 800;
$textlight: 300;

$text-small: 16px;
$text-med: 20px;
$text-big: 24px;


